name: slowly_moving_widgets_field
description: Your arbitrary widgets slowly moving about, sometimes colliding and bouncing (like vintage "asteroids game").
version: 1.0.25        #NOEDIT
homepage: https://github.com/remoteportal/slowly_moving_widgets_field

environment:
  sdk: ">=2.1.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter
  meta: ^1.1.8

dev_dependencies:
  flutter_test:
    sdk: flutter

flutter: